<style>
    .modal-header {
        background-color: #007bff;
        color: white;
    }
    .carousel-item img {
        max-height: 300px; /* Ajustar según tu diseño */
        object-fit: cover;
    }
</style>




/*para los modals de documentales*/

.card-img-top {
    width: 100%;
    height: 250px; /* Puedes ajustar el tamaño según lo que desees */
    object-fit: cover;
}/*final modals de documentales*/




