<style>
    .modal-header {
        background-color: #007bff;
        color: white;
    }
    .carousel-item img {
        max-height: 300px; /* Ajustar según tu diseño */
        object-fit: cover;
    }
</style>



/* Establecer una altura mínima fija para las tarjetas*/
.card {
    min-height: 400px; /* Ajusta esta altura según lo necesites */
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté apilado verticalmente */
    justify-content: space-between; /* Distribuye el contenido */
}

.card-body {
    flex-grow: 1; /* Permite que el contenido del cuerpo crezca para ocupar espacio */
}

.card-title {
    font-size: 1.25rem; /* Tamaño fijo de título */
    margin-bottom: 1rem; /* Añade margen inferior para espacio */
}

.card-text {
    font-size: 1rem; /* Tamaño fijo del texto */
    flex-grow: 1; /* Hace que el texto del cuerpo ocupe espacio disponible */
    margin-bottom: 1rem; /* Añade margen inferior */
}

.btn {
    margin-top: auto; /* Empuja el botón hacia la parte inferior si hay espacio */
}
/* final Establecer una altura mínima fija para las tarjetas*/



/* grilla de instagram*/

#instagram-section {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el tamaño de las columnas según el ancho */
  gap: 20px; /* Espacio entre tarjetas */
}

.grid-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: scale(1.05); /* Efecto al pasar el ratón */
}

.grid-item img {
  width: 100%; /* Asegura que las imágenes llenen el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
}

